
.mobile-filter-button,
.mobile-view-results-button {
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 2rem auto 0;
  text-align: center;
  width: 372px;
}

.mobile-title {
  font-size: 24px;
  margin: 1.5rem 0 0;
}
.mobile-filter-button {
  background-color: #000000;
  font-size: 22px;

  @media screen and (min-width: 62.5em) {
    display: none;
  }
}

h2.mobile-title {
  display: block;
  @media screen and (min-width: 62.5em) {
    display: none;
  }
}

.search-footer {
  border-top: 1px solid #696969;
  bottom: 0;
  left: 0;
  margin: 2rem auto;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 5;

  @media screen and (min-width: 62.5em) {
    display: none;
  }

  .mobile-view-results-button {
    background-color: #FF8D1D;
  }
}

.filter-count {
  background-color: #FF8D1D;
  color: #ffffff;
  font-weight: normal;
  padding: 2px 8px;
}


.resource-finder {
  .search {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    @media screen and (min-width: 62.5em) {
      display: block;
      position: relative;
    }

    &.mobile-query-active {
      display: block;

    }
  }

  .search-header {
    align-items: center;
    background-color: #EEEEEE;
    display: none;
    justify-content: space-between;
    height: 54px;
    padding: 0 1rem;

    @media screen and (min-width: 62.5em) {
      display: none;
    }

    &.mobile-active,
    &.mobile-query-active {
      display: flex;
      @media screen and (min-width: 62.5em) {
        display: none;
      }
    }



    .close-filters {
      cursor: pointer;
    }

    p {
      font-family: 'Good Pro';
      margin: 0;
    }

    .ais-ClearRefinements {
      .ais-ClearRefinements-button {
        appearance: none;
        background-color: transparent;
        color: #323232;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}


.search-group {
  background-color: #323232;
  display: none;
  height: 100%;
  min-height: calc(100vh - 54px);
  position: relative;
  width: 100%;

  @media screen and (min-width: 62.5em) {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding: 1em 0.5em;
  }

  &.mobile-active {
    display: block;
  }

  .ais-SearchBox.searchbox {

    @media (min-width: 62.5rem) {
      margin: 0 0.5rem;
      width: 37.4%;
    }
  }

  .filter-menu {

    @media (min-width: 62.5rem) {
      margin: 0 0.5rem;
    }

    &.open {
      .filter-menu-toggle {
        background-color: #696969;
      }

      .dropdown-icon {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &.active {
      .filter-menu-toggle {
        background-color: #696969;
      }
    }
  }

  .filter-menu-toggle {
    background-color: #323232;
    border-bottom: 1px solid #c4c8d8;
    color: #ffffff;
    height: 46px;
    padding: 0.6rem 1rem;
    position: relative;

    @media screen and (min-width: 62.5em) {
      border: 1px solid #c4c8d8;
    }

    .dropdown-icon {
      align-content: center;
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: absolute;
      right: 1rem;
      top: 0;
    }
  }

  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
}



//
// Searchbox
//


.ais-SearchBox-form {
  display: block;
  margin: 0;
  position: relative;

  .ais-SearchBox-submitIcon,
  .ais-SearchBox-resetIcon {
    fill: #ffffff;
  }

  .ais-SearchBox-submitIcon {
    height: 18px;
    width: 18px;
  }

  .ais-SearchBox-input {
    appearance: none;
    border-bottom: 1px solid #c4c8d8;
    font-size: 16px;
    height: 46px;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    position: relative;
    width: 100%;

    @media screen and (min-width: 62.5em) {
      border: 1px solid #c4c8d8;
    }

    &:focus {
      background-color: #323232;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
      display: none;
    }
  }

  .ais-SearchBox-submit,
  .ais-SearchBox-reset {
    appearance: none;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &:hover {
      background-color: transparent;
    }
  }

  .ais-SearchBox-submit {
    left: 0.2rem;
    padding: 2px 0.5rem;
    width: 40px;
  }

  .ais-SearchBox-reset {
    right: 0.3rem;
  }
}




//
// Refinement menu list for filters
//

.filter-menu {
  cursor: pointer;
  position: relative;
  width: 100%;

  .filter-menu-items {
    background-color: #696969;
    width: 100%;

    @media (min-width: 62.5rem) {
      left: 0;
      position: absolute;
      top: 46px;
      z-index: 5;
    }

    .ais-RefinementList-list {
      border-bottom: 1px solid #c4c8d8;
      margin: 0;
      padding-bottom: 0.5rem;
    }

    .ais-RefinementList-item {
      list-style-type: none;
      line-height: 16px;
      height: 100%;
      transition: all 220ms ease-in-out;
      padding: 11px 1em;

      &:hover {
        background-color: #323232;
      }

      &.ais-RefinementList-item--selected {
        background-color: #f5f5f5;
        border-bottom: 1px solid #c4c8d8;

        .ais-RefinementList-labelText,
        .ais-RefinementList-count {
          color: #696969;
        }
      }

      span {
        color: #ffffff;
      }

      .ais-RefinementList-checkbox {
        display: none;
      }

      .ais-RefinementList-labelText {
        font-size: 16px;
      }

      .ais-RefinementList-count {
        font-size: 14px;
        line-height: 0.75em;
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 62.5rem) {
  #industry-filter {
    width: 38.8%;

    &.active {
      width: 18.5%;
    }
  }

  .active #industry-filter.open {
    width: 18.5%;
  }

  #sub_industry-filter {
    width: 18.5%;
  }

  #resource_type-filter {
    width: 18.5%;
  }

  #industry-filter,
  #sub_industry-filter {
    .filter-menu-items {
      min-width: 506px;
    }
  }
}
